  <div class="container">
    <div class="row">
      <div class="col-md-3" ng-repeat="beer in vm.beers">
        <div class="ui card">
          <div class="image">
            <img src="{{ beer.url }}">
          </div>
          <div class="content">
            <a class="header">{{ beer.name }}</a>
            <i class="fa fa-trash" title="delete" ng-click="vm.delete(beer)" style="float: right;"></i>
            <div class="meta">
              <i class="fa fa-map-marker" title="location" style="float: left;"></i>
              <span class="date">Wicker Park, Chicago, IL</span>
            </div>
            <div class="description">
              {{ beer.description }}
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              <button ng-click="vm.inStock(beer)">Notify Followers</button>
            </a>
            <div class="right floated author">
              <img class="ui avatar image" src="http://api.randomuser.me/portraits/thumb/women/39.jpg">
              <i class="fa fa-mars" title="male"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
